***Balancing a dataset with Downsampling***

Imagine we have a dataset for a binary classification task where the class labels are imbalanced, and want to downsample the majority class to balance the dataset

In [1]:
import pandas as pd
from sklearn.utils import resample
df=pd.DataFrame({
    'Age':[22,25,27,28,30,35,40,45,50,55,60,65,70],
    'Income':[2000,2500,2700,3200,3500,3800,4000,4200,4300,4500,5000,5500,6000],
    'Class':['High','Low','Low','High','High','Low','High','High','Low','Low','High','High','Low']
})

High class has 7 instances

Low class has 6 instances

In [20]:
df_high=df[df['Class']=='High']
df_low=df[df['Class']=='Low']
print(df_high)
print("----------------------")
print(df_low)

    Age  Income Class
0    22    2000  High
3    28    3200  High
4    30    3500  High
6    40    4000  High
7    45    4200  High
10   60    5000  High
11   65    5500  High
----------------------
    Age  Income Class
1    25    2500   Low
2    27    2700   Low
5    35    3800   Low
8    50    4300   Low
9    55    4500   Low
12   70    6000   Low

In [21]:
df_high_downsampled = resample(df_high, replace=False, n_samples=len(df_low), random_state=42)

In [22]:
df_balanced=pd.concat([df_high_downsampled,df_low])

In [23]:
print(df_balanced['Class'].value_counts())

Class
High    6
Low     6
Name: count, dtype: int64

In [40]:
import pandas as pd
from sklearn.utils import resample
df=pd.DataFrame({
    'Age':[22,25,27,28,30,35,40,45,50,55,60,65,70],
    'Income':[2000,2500,2700,3200,3500,3800,4000,4200,4300,4500,5000,5500,6000],
    'Class':['Minority','Majority','Majority','Majority','Majority','Minority','Minority','Minority','Majority','Majority','Majority','Majority','Majority']
})

Majority class has 9 instances

Minority class has 4 instances

In [41]:
df_majority=df[df['Class']=='Majority']
df_majority

    Age  Income     Class
1    25    2500  Majority
2    27    2700  Majority
3    28    3200  Majority
4    30    3500  Majority
8    50    4300  Majority
9    55    4500  Majority
10   60    5000  Majority
11   65    5500  Majority
12   70    6000  Majority

In [42]:
df_minority=df[df['Class']=='Minority']
df_minority

   Age  Income     Class
0   22    2000  Minority
5   35    3800  Minority
6   40    4000  Minority
7   45    4200  Minority

In [44]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=42)

In [47]:
df_balanced=pd.concat([df_majority,df_minority_upsampled])

In [46]:
print(df_balanced['Class'].value_counts())

Class
Majority    9
Minority    9
Name: count, dtype: int64

***SMOTE***

In [1]:
pip uninstall scikit-learn imbalanced-learn -y

Found existing installation: scikit-learn 1.3.0
Uninstalling scikit-learn-1.3.0:
  Successfully uninstalled scikit-learn-1.3.0
Found existing installation: imbalanced-learn 0.10.1
Uninstalling imbalanced-learn-0.10.1:
  Successfully uninstalled imbalanced-learn-0.10.1
Note: you may need to restart the kernel to use updated packages.

1.SMOTE to generate synthetic samples instead of duplicating existing ones.

2.Convert categorical class lables into numeric form for SMOTE to work

3.Apply SMOTE to balance the dataset

4.Convert back to original categorical label.

5.Combine the resampled data into a final balnced dataset

In [2]:
pip install -U scikit-learn imbalanced-learn

Requirement already satisfied: scikit-learn in c:\users\cvr\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: imbalanced-learn in c:\users\cvr\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (0.1.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from imblearn.over_sampling import SMOTE
df=pd.DataFrame({
    'Age':[22,25,27,28,30,35,40,45,50,55,60,65,70],
    'Income':[2000,2500,2700,3200,3500,3800,4000,4200,4300,4500,5000,5500,6000],
    'Class':['Minority','Majority','Majority','Majority','Majority','Minority','Minority','Minority','Majority','Majority','Majority','Majority','Majority']
})

In [3]:
#Step1:Convert categorical labels to numerical values
df['Class']=df['Class'].map({'Majority':0,'Minority':1})

#Step2:Split features (x) and target variable(y)
X=df[['Age','Income']]
y=df['Class']

smote=SMOTE(sampling_strategy='auto',random_state=42,k_neighbors=3)
X_resampled,y_resampled=smote.fit_resample(X,y)

y_resampled=y_resampled.map({0:'Majority',1:'Minority'})

df_balanced=pd.concat([pd.DataFrame(X_resampled,columns=['Age','Income']),pd.DataFrame(y_resampled,columns=['Class'])],axis=1)

print(df_balanced['Class'].value_counts())

print(df_balanced)

Class
Minority    9
Majority    9
Name: count, dtype: int64
    Age  Income     Class
0    22    2000  Minority
1    25    2500  Majority
2    27    2700  Majority
3    28    3200  Majority
4    30    3500  Majority
5    35    3800  Minority
6    40    4000  Minority
7    45    4200  Minority
8    50    4300  Majority
9    55    4500  Majority
10   60    5000  Majority
11   65    5500  Majority
12   70    6000  Majority
13   40    4031  Minority
14   35    3831  Minority
15   44    4176  Minority
16   35    3826  Minority
17   41    4040  Minority